 .statistics {
    margin-left: 50px;
    height: 200px;
}

.title {
} 

.stat-list {
list-style: none;
display: flex;
flex-direction: row;
align-items: center;

}

 .item {
display: flex;
flex-direction: column;
align-items: center;
width: 60px;
height: 50px;
margin: 0;
}
.item:first-child {
    background-color: aquamarine;
}

.label {
margin-top: 5px;
}

.percentage {

} 